<%= content_for :head do %>
  <script type="text/javascript" src="/js/chat.js" data-turbolinks-track="reload"></script>
<% end %>

<%= link_to "Back", chat_rooms_path, class: "btn btn-primary" %>

<h1><%= @chat_room.user.email %>'s Chat</h1>
<div class="mesgs">
  <div class="msg_history" id="chat_messages" data-chat-room-id="<%= @chat_room.id %>" data-current-user-id="<%= current_user.id %>">
    <% @chat_room.chat_messages.each do |chat_message| %>
      <% if chat_message.user == current_user %>
        <div class="outgoing_msg">
          <%= render "chat_messages/sent_chat_message", chat_message: chat_message %>
        </div>
      <% else %>
        <div class="incoming_msg">
          <%= render "chat_messages/received_chat_message", chat_message: chat_message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="type_msg">
    <%= form_for @chat_message, url: '#' do |f| %>
      <div class="input_msg_write">
        <%= f.text_field :body, class: "write_msg", placeholder: "Type a message" %>
        <%= button_tag(type: 'submit', class:"msg_send_btn") do %>
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p>
